---
http_interactions:
- request:
    method: get
    uri: http://api.searchmetrics.com/v1/AdminStatusGetValueAvailableCredits.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa", oauth_nonce="SaabgSWIIVkvUvVKerCK4hATaK9trgUdiyqXdJU6gA",
        oauth_signature="p%2BotecdYb9TaNcRdSyw7nU6QiSg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1448285330", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[59876]"
  recorded_at: Mon, 23 Nov 2015 13:28:52 GMT
- request:
    method: get
    uri: http://api.searchmetrics.com/v1/ResearchLinksGetListLinktext.json?url=example.url
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa", oauth_nonce="ndX6fRohMTcgaTJ8SsGSYXVtQm04yEfYYMi8960YM",
        oauth_signature="Zew6jLJs3Z5wkhb8pcHs6Q039hY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1448285332", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 23 Nov 2015 13:28:53 GMT
- request:
    method: get
    uri: http://api.searchmetrics.com/v1/ResearchLinksGetListLinktext.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa", oauth_nonce="HWQfnjByzc4weGkkPjmQTiSichqeFZ82JUmzQYLqg",
        oauth_signature="udRXee%2FKZUEg55pL3K4mAkMTJdo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1448285333", oauth_version="1.0"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":2,"error_message":"For service \"ResearchLinksGetListLinktext\"
        parameter \"url\" is required!","error_info":{"error":2,"http_status_code":400,"error_message":"For
        service \"ResearchLinksGetListLinktext\" parameter \"url\" is required!"},"request_params":{"version":"v1","2":"","service":"ResearchLinksGetListLinktext","4":".json","format":"json","controller":"index","action":"index","offset":0,"limit":10}}'
  recorded_at: Mon, 23 Nov 2015 13:28:54 GMT
- request:
    method: get
    uri: http://api.searchmetrics.com/v1/ResearchLinksGetListLinktex.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa", oauth_nonce="TtcDHZUIiyep0nROm6tpkwyulCyDuoZgQZCvvHzq8",
        oauth_signature="HC%2F5skOFRk0FemBM4RZRbWmrnu8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1448285334", oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":0,"error_message":"There is no service \"ResearchLinksGetListLinktex\"
        for method \"GET\" in version \"v1\"","error_info":{"error":0,"http_status_code":404,"error_message":"There
        is no service \"ResearchLinksGetListLinktex\" for method \"GET\" in version
        \"v1\""},"request_params":{"version":"v1","2":"","service":"ResearchLinksGetListLinktex","4":".json","format":"json","controller":"index","action":"index","offset":0}}'
  recorded_at: Mon, 23 Nov 2015 13:28:54 GMT
recorded_with: VCR 3.0.0
